:root {
    --arapawa-background: #130C63;
    --royal-blue-section: #2835e9;
    --powder-blue-secondary: #ADDFE3;
    --ripe-lemon-text: #F7D914;
}

* {
    box-sizing: border-box;
}

body {
  font-family: 'Termina', Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-style: normal;
  margin:0;
}

/* Link Hover Elements */
a {
    background-image: linear-gradient(
        to right,
        #2835e9,
        #2835e9 50%,
        #000 50%
    );
    background-size: 200% 100%;
    background-position: -100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
}

a:before {
    content: '';
    background: #2835e9;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
}

a:hover {
    background-position: 0;
}

a:hover::before {
    width: 100%;
}

/* Header Section, Nav Links & Banner Image */
#logo{
    padding:5px 10px 0px 5px;
    border: solid;
    border-style: double;
}

.container {
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding: 20px;
}

  #navbar li{
    display:inline-block;
    position: sticky;
}
  
  #navbar a{
    text-decoration:none;
    font-size:18px;
    padding-right:15px;
    position: sticky;
}

.header h1 {
    display: inline-block;
    font-size: 38px;
    position: sticky;
}

.main-header {
    padding: 20px;
    position: sticky;
    text-decoration: solid;
}

.banner {
    background-image:
    url(https://images.pexels.com/photos/12708295/pexels-photo-12708295.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
    background-size: cover;
    position: relative;
    width: 100%;
    height: 400px;
    display: flex;
    background-position: center;
    background-repeat: no-repeat;
}

/* My Work */

.flex-container {
    display: flex;
}

.section-container {
    display: flex;
    flex-direction:column;
    gap: 32px;
}

.left-column {
    float: left;
    padding: 40px;
    padding-left:70px;
    padding-right: 70px;
    background-color: #ADDFE3;
    line-height: 2;
    flex-basis: 5;
    font-size: x-large;
}

.right-column {
    float: right;
    padding: 40px;
    padding-left:70px;
    padding-right: 70px;
    background-color: #ADDFE3;
    line-height: 2;
    flex-basis: 2;
}    

/* Project Detail Sections */
#projects {
    display: flex;
}

.project {
    float: left;
    padding: 40px;
    padding-left:70px;
    padding-right: 70px;
    background-color: #ADDFE3;
    line-height: 2;
    flex-basis: 2;
    font-size: 14pt;
}

/* Contact Me Section */
.contact-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; 
    max-width: 600px; 
    margin: 0 auto; 
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

 .contact-me h3 {
    color: #010101;
    text-align: center;
}

 .contact-me p {
    margin-bottom: 10px;
}

/* Footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    position: relative;
}
  

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
}


@media (max-width: 600px) {
    nav {
        flex-direction: column;
        align-items: center;
    }
}